body {
    background-color: #C3E4ED;
    font-family: "Comic Sans MS";
}

h1 {

    color: #388E8E;
    margin-left: 20px;
}
h2{
    font-size: 28px;
}

.header{
    width: inherit;
    height: 80px;
    text-align: center;

    font-size: 25px;

}

hr{
    height: 2px;
    background-color: lightgray;
}

#new_game, #current_game, #game_over{
    text-align: center;
    color: white;
    font-size: 23px;

}
#current_game{
    text-align: center;
}

#join_game{
    text-align: center;
    color: #388E8E;
    text-decoration: underline;
}

p{
    margin: 0px;
    padding: 0px
}
#game_icon{
    width:70px;
    height: 70px;

}
#start_icon{
    width:20px;
    height: 20px;
}
input{
    height: 25px;
    font-family: "Comic Sans MS";
    border: 3px solid rgba(85, 85, 85, 0.64);
    margin-bottom: 15px;
    text-align: center;
    box-shadow: 0 0 5px 1px #969696;
    border-radius: 10px;
}
.main_button{
    width:150px;
    margin: 20px;
    box-shadow: rgb(21, 100, 173) 3px 4px 0px 0px;
    border-radius: 5px;
    border: 1px solid rgb(51, 123, 196);
    display: inline-block;
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-family: Arial;
    font-size: 17px;
    font-weight: bold;
    padding: 12px 44px;
    text-decoration: none;
    text-shadow: rgb(82, 142, 204) 0px 1px 0px;
    background: linear-gradient(rgb(121, 187, 255) 5%, rgb(55, 141, 229) 100%) rgb(121, 187, 255);
}

#submit_new_game_img{
    width: 100px;
    height: 100px;
    border-radius: 0px;
    box-shadow: none;
    border: none;
}

.join_game_button{
    width: 200px;
    margin-bottom:10px;
    box-shadow: rgb(242, 250, 220) 0px 0px 14px -3px inset;
    border-radius: 6px;
    border: 1px solid rgb(178, 184, 173);
    display: inline-block;
    cursor: pointer;
    color: rgb(117, 125, 111);
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: rgb(206, 217, 191) 0px 1px 0px;
    background: linear-gradient(rgb(219, 230, 196) 5%, rgb(155, 168, 146) 100%) rgb(219, 230, 196);
}

#log{
    width: 225px;
    height: 150px;
    box-shadow: 0 0 5px 1px #969696;
    border-radius: 10px;
    font-size: 18px;
    overflow-y: scroll;
    resize: none;

}


